/* :root{
    --main-header-color: linear-gradient(45deg,#ef971e,#ffbc6a);
    
} */

:root{
    /* --main-header-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    --main-header-color: linear-gradient(90deg,rgb(246, 246, 247) 0% , rgb(211, 211, 219) 35%, rgb(227, 226, 236) 100% );
    --fondo-color: #181818;
    --items-color:#202020;
    --items-colorR:rgba(64, 64, 64, 0.9);
    --border-color:#383838;
    --text-color: #e7e7e7;
    
}

body,html{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 217, 214);
}
body{
    position: relative;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(132, 180, 232);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #080f61; 
}


nav  {
    position: fixed;
    z-index: 3;
    top: 15px;
    left: 100px;
    
    cursor: pointer;
}
nav span{
    position: fixed;
    z-index: 3;
    top: 15px;
    left: 100px;
    
    cursor: pointer;
}


nav span i{
    position: fixed;
    z-index: 3;
    top: 15px;
    left: 100px;
    
    cursor: pointer;
}

aside{
    background-color: var(--items-colorR);
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 59px;
    transition: 0.5s;
}
aside:hover{
    overflow-y: auto;
}

.desplegar{
    transform: translate(-100%);
}

aside::-webkit-scrollbar{
    width: 8px;
}

aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}
.container-svg{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}
.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.container-svg div:hover{
    background-color: #303030;
}
.container-svg div span{
   margin-left: 15px;
   font-size: 18px;
}
aside a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
}


#botonMoverScroll{
    display: inline;
    position: relative;
    margin-left: 10px;
    font-size: 15px;
    color: #ffffff;
    background-color: transparent;
    border: none;
}
header{
    position:fixed;
   
    height: 40px;
    padding: 10px;
    width: calc(100% - 20px);
    line-height: 40px;
    display: flex;
    background: var(--main-header-color);
    
    
    /* position: fixed; */
    top:0;
    left:0; 
    z-index: 2;
}
/* .boton-menu {
    
    
    cursor: pointer;
    border: none;
} */



.logo-place{
    position:relative;
    z-index: 1;
    margin-left: 10px;
   
    top: -8px;
    padding-bottom: 2px;

    /* justify-content: center;
    align-items: center; */
}
.logo-place img{
    
    width: 100%;
}



.options-place{
    
    width: 250px;
    display: flex;
    justify-content: flex-end;
}
.item-option{
    
    padding: 5px 10px;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
    /* color: #fff; */
}
.item-option i:hover{
    filter: invert(92%) sepia(10%) saturate(5900%) hue-rotate(336deg) brightness(96%) contrast(95%);
    /* color: #f0b727; */
}

.imagenes{
    margin-top:70px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.imagenes img{
    margin: 5px;
   
}
#rowF{
    position: relative;
    display:block;
   
    top: 100px;
    background-color: #323030;
    padding: 5px;
    flex-wrap: wrap;
}
#divDelFooter1{
    font-size: 20px;
    background-color: rbg(40,40,40);
    color: #f2f2f2;
    padding: 10px;
}

.footer1 a{
    background-color: rbg(40,40,40);
    color: rgb(13, 124, 9);
    text-decoration: none;
}
.footer1 a:hover{
    background-color: rbg(40,40,40);
    color: rgb(204, 0, 255);
    text-decoration: none;
}



