body,html{
    margin: 0;
    padding: 0;
    background-color: rgb(173, 161, 154);
}
body{
    position: relative;
    
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(132, 180, 232);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #080f61; 
}
.titulo{
    color: #000000;
    padding: 1% 25%;
}



#ubicacion{
    padding: 5px 5px;
   
}

#rowF{
    position: relative;
    display:block;
   
    top: 0px;
    background-color: #323030;
    padding: 5px;
    
    flex-wrap: wrap;
}
#divDelFooter1{
    font-size: 20px;
    background-color: rbg(40,40,40);
    color: #f2f2f2;
    padding: 10px;
}

.footer1 a{
    background-color: rbg(40,40,40);
    color: rgb(13, 124, 9);
    text-decoration: none;
}
.footer1 a:hover{
    background-color: rbg(40,40,40);
    color: rgb(204, 0, 255);
    text-decoration: none;
}
